.wrapper__content-item:nth-child(1) {
  background-image: url(/img/figurines/1.jpg);
}

.wrapper__content-item:nth-child(2) {
  background-image: url(/img/figurines/3.png);
}

.wrapper__content-item:nth-child(3) {
  background-image: url(/img/figurines/2.jpeg);
}

.wrapper__content-item:nth-child(4) {
  background-image: url(/img/figurines/4.jpg);
}

.header__menu li:first-child {
  color: var(--grey);
}

.header__menu li:nth-child(5) {
  color: var(--black);
}

